@import '../variables';

#new-blog-page {

  .input-group {
    margin-bottom: 1em;
    input {
      font-size: 18px;
    }
  }

  .editor {
    border: 1px #ccc solid;
    min-height: 400px;
    padding-left: 1em;
    padding-right: 1em;
  }

  
}